<main class="container">
    <section class="pokemon__list">     
        @for (pokemon of pokemonDetails | pokemonFilter: searchTerm; track pokemon.id) {
            <app-pokemon-card [pokemonDetails]="pokemon"/>
        }
    </section>
</main>
<footer class="container button__container">
        @if (previousPageUrl) {
            <button (click)="previousPage()">Anterior</button>
        } @else {
            <button class="secondary" disabled>Anterior</button>
        }
        @if (nextPageUrl) {
            <button (click)="nextPage()">Próximo</button>
        } @else {
            <button class="secondary" disabled>Próximo</button>
        }
</footer>

