<section class="container pokemon__list">     
    @for (pokemon of pokemonDetails; track pokemon.id) {
        <article>
            <header>{{ pokemon.name | titlecase }}</header>
            @defer {
                <img src="{{ pokemon.sprites.front_default}}" />
                <img src="{{ pokemon.sprites.back_default}}" />
            } @placeholder (minimum 2000ms) {
                <article aria-busy="true"></article>
            }
            <footer>Footer</footer>
        </article>
    }
</section>