nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    ul {
        li {
            width: 100%;
            img {
                width: 70px;
                margin-right: 15px;
            }
        }
    }
}