nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    .dropdown {
        ul {
            max-height: 310px;
            overflow: auto;
        }
    }
    ul {
        li {
            width: 100%;
            details {
                width: 100%;
            }
            img {
                width: 70px;
                margin-right: 15px;
            }
        }
    }
}