<nav class="container">
    <ul>
        <li>
            <img src="https://www.pngmart.com/files/23/Pokedex-PNG-HD-Isolated.png" alt="">
            <strong>Pokédex</strong>
        </li>
    </ul>
    <ul>
        <li>
            <input type="search" name="search" placeholder="Search" aria-label="Search" placeholder="Pesquisar Pokémon"
                (input)="onSearch($event)" />
        </li>
    </ul>
    <ul>
        <li>
            <details class="dropdown">
                <summary>
                  Type
                </summary>
                <ul dir="rtl">
                  <li><a href="#">Graas</a></li>
                  <li><a href="#">Bug</a></li>
                  <li><a href="#">Fire</a></li>
                  <li><a href="#">Normal</a></li>
                </ul>
              </details>
        </li>
    </ul>
    <ul>
        <li><a href="https://pokeapi.co/">PokéAPI</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>