@if (pokemonDetails) {
<article class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
        <header>{{ pokemonDetails.name }}</header>
        <img src="{{ pokemonDetails.sprites.other.showdown.front_default}}" />
        <footer>Footer</footer>
    </div>
    <div class="face front">
        <header>{{ pokemonDetails.name }}</header>
        <img src="{{ pokemonDetails.sprites.other.showdown.back_default}}" />
        <footer>Footer</footer>
    </div>
</article>
}