@if (pokemonDetails) {

<div class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face front">
        <header [ngStyle]="{'background-color': getTypeColor(pokemonDetails.types[0].type.name)}">
            <p>{{ pokemonDetails.name }}</p>
        </header>
        <div class="pokemon-description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, error.</p>
        </div>
        <img src="{{ pokemonDetails.sprites.other.showdown.front_default}}" />
        <footer>
            @for (types of pokemonDetails.types; track pokemonDetails.id) {
                <span class="type" [ngStyle]="{'background-color': getTypeColor(types.type.name)}">{{ types.type.name }}</span>
            }
        </footer>
    </div>
    <div class="face back">
        <header [ngStyle]="{'background-color': getTypeColor(pokemonDetails.types[0].type.name)}">
            <p>{{ pokemonDetails.name }}</p>
        </header>
        <div class="pokemon-description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, error.</p>
        </div>
        <img src="{{ pokemonDetails.sprites.other.showdown.back_default}}" />
        <footer>
            @for (types of pokemonDetails.types; track pokemonDetails.id) {
                <span class="type" [ngStyle]="{'background-color': getTypeColor(types.type.name)}">{{ types.type.name }}</span>
            }
        </footer>
    </div>
</div>

}