<app-header />
<main>
    @defer {
    <app-pokemon-list />
    } @placeholder (minimum 1000ms) {
    <section class="container pokemon-fake-list">
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
        <div class="fake-card">
            <header></header>
            <div class="desc">
                <div></div>
            </div>
            <footer>
                <span></span>
                <span></span>
            </footer>
        </div>
    </section>
    }
</main>
<router-outlet />